{% extends "core/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ProOnliPc Bootstrap Template</title>

</head>

<body>
  {%block body%}

  {% block content %}
  <br>
  <br>
  <section id="contact-page">
    <div class="container">
      <div class="center">
        <h2>Deja tu mensaje</h2>
        <p>Pronto estaremos respondiedo a tu solicitud.</p>
      </div>
      <div class="row contact-wrap">
        <div class="col-md-8 col-md-offset-2">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
                data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required"
                data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>

            <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Enviar Mensaje</button></div>
          </form>
        </div>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </section>
  <!--/#contact-page-->
  <BR>

  <div class="map">
    <p style="text-align: center;">


      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7933.705072001505!2d-75.62174214027993!3d6.150497575243325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e468345a6d2c4cf%3A0x101d98fd11823b66!2sTienda%20Entre%20Perros%20y%20Gatos%20Sabaneta!5e0!3m2!1ses!2sco!4v1717090358416!5m2!1ses!2sco"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </p>
  </div>
  {%endblock%}
  {%endblock%}
</body>

</html>